[Unit]
Description=Confluence Service
After=network.target

[Service]
Type=forking
User={{ confluence_osuser_name }}
#Environment=JRE_HOME={{ jre_home_path }}
ExecStart={{ confluence_installdir_path }}/bin/start-confluence.sh
ExecStop={{ confluence_installdir_path }}/bin/stop-confluence.sh
ExecReload={{ confluence_installdir_path }}/bin/stop-confluence.sh | sleep 60 | {{ confluence_installdir_path }}/bin/start-confluence.sh

[Install]

WantedBy=multi-user.target